body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.page_howtos {

		nav {
			font-size: 1.1rem;
			margin: 0 0 20px 0;

			a.active {
				color: #999; 
			}

			.navlink {
				display: inline;
				border-bottom: 1px solid #777;

				&:hover {
					color: rgb(244, 215, 162);
				}
			}

			.separator {
				color: #666;
				margin: 0 5px;
			}
		}

		.howtos {
			.howto {
				background-color: #444;
				padding: 10px;
				border-radius: 5px;
				margin: 0 0 10px 0;

				.title a {
					font-size: 1.3rem;
					color: rgb(232, 188, 106);
				}

				.body {
					font-size: .8rem;
					color: #fff;
					white-space: pre-wrap;
					background-color: #222;
					border-radius: 5px;
					padding: 10px;
				}
			}
		}
	}
}