body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.howtos {
		.howto {
			background-color: #444;
			padding: 10px;
			border-radius: 5px;
			margin: 0 0 10px 0;

			.title a {
				font-size: 1.3rem;
				color: rgb(232, 188, 106);
			}

			.body {
				font-size: .8rem;
				color: #fff;
				white-space: pre-wrap;
				background-color: #222;
				border-radius: 5px;
				padding: 10px;
			}
		}
	}
}